@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
.header-back {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 26px 60px -44px #000000;
}

.header-content {
    margin: 0 auto;
    width: 80%;
}

.header-nav {
    display: flex;
    /*padding-top: 10px;*/
    justify-content: space-between;
    min-height: 100px;
}

.header-nav-left {
    display: flex;
    justify-content: space-around;
}

.header-nav-left-buttons {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav-left-buttons-item {

}

.header-nav-left-buttons-item-link {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: 2px solid #0586e8;
    margin-right: 50px;
    border-radius: 30px;
    padding-top: 13px;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: all 0s ease;
}

.image-logo {
    width: 50px;
    margin-right: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-right: 100px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #416DD7;
}


.header-nav-right {
    display: flex;
    align-items: center;
}

.header-nav-right-login-button {
    display: flex;
    align-items: center;
}

.header-nav-right-search-container {
    display: flex;
    align-items: center;
    width: 259px;
    height: 47px;
    position: relative;
    border: 2px solid #416DD7;
    border-radius: 30px;
    justify-content: center;
    padding: 0 10px;
    margin-right: 30px;
}


.header-nav-rigth-login-button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid #416DD7;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    position: relative;
    transition: all 0s ease;
}

#logoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid #416DD7;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    position: relative;
    transition: all 0s ease;
}

#logoutButton:hover {
    background-color: #0586e8;
    box-shadow: 0px 0px 9px -3px #000000 inset;
    transition: all 0.5s ease;
    color: white;
}

#logoutButton:not(:hover) {
    box-shadow: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
}


.header-nav-rigth-login-button-link::before {
    content: "";
    position: absolute;
    left: 10px;
    background-image: url("../media/images/login_mark_icon.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;

}

.header-nav-right-search {
    all: unset;
    border-bottom: 2px solid rgba(0, 0, 0, 0.51);
    padding-bottom: 2px;
    padding-left: 5px;
}

.header-nav-right-search::placeholder {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.header-nav-right-search-container::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    background-image: url("../media/images/search_icon.png");
    background-size: 25px 25px;
}

.header-nav-left-buttons-item-link:hover, .header-nav-rigth-login-button-link:hover {
    background-color: #0586e8;
    box-shadow: 0px 0px 9px -3px #000000 inset;
    transition: all 0.5s ease;
    color: white;
}

.header-nav-left-buttons-item-link:not(:hover), .header-nav-rigth-login-button-link:not(:hover) {
    box-shadow: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
}

#userName {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 820px) {
    body {
        font-size: 14px; /* Пример изменения размера шрифта для мобильных устройств */
    }

    .header-back {
        height: auto;
    }
    .header-nav-right-search-container {
        margin-right: 0;
    }
    .header-nav, .header-nav-left {
        flex-direction: column;
        align-items: center;
    }

    .header-nav-right {
        margin-bottom: 10px;
    }

    .header-logo {
        margin: 10px auto;
    }

    .header-nav-left-buttons {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .header-nav-left-buttons-item {
        margin-bottom: 10px;
    }

    .header-nav-rigth-login-button-link,
    #logoutButton {
        margin-right: 0;
    }

    .header-nav-left {
        position: relative;
    }

    .header-nav-left-buttons-item-link {
        display: inline-block;
        padding: 10px;
        text-align: center;
        border: 2px solid #0586e8;
        margin-right: 10px;
        border-radius: 30px;
        padding-top: 13px;
        text-decoration: none;
        color: black;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        transition: all 0s ease;
    }

    .header-nav-left-buttons-item-link-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        z-index: 1;
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-nav-left:hover .header-nav-left-buttons-item-link-dropdown {
        display: flex;
    }
}

