
RewriteEngine On

# POST-запросы для /users
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^users$ auth/registration.php [L]

# POST-запросы для /tests
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^tests$ tests_/test_create.php [L]

# GET-запросы для /users/tokens
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^users/tokens$ auth/sign-in.php [L]

# DELETE-запросы для /tests/\d+
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^tests/\d+$ tests_/test_delete.php [L]

# GET-запросы для /users
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^tests$ tests_/find_tests.php [L]

# PUT-запросы для /tests/{id}
RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^tests/\d+$ tests_/test_update.php [L]

# GET-запросы для /tests/{id}
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^tests/\d+$ tests_/test_get.php [L]

# POST-запросы для /tests/{id}/result
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^tests/\d+/result$ tests_/test_result.php [L]

# GET-запросы для /categories
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^categories$ categories_/categories_get.php [L]

# POST-запросы для /categories
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^categories$ categories_/category_add.php [L]

# PUT-запросы для /categories/{id}
RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^categories/(\d+)$ categories_/category_update.php [L]

# DELETE-запросы для /categories/{id}
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^categories/\d+$ categories_/category_delete.php [L]


# POST-запросы для /tests/{id}/preview
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^tests/\d+/preview$ tests_/preview_set.php [L]

# GET-запросы для /tests/{id}/preview
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^tests/\d+/preview.jpg$ tests_/preview_get.php [L]

# DELETE-запросы для /tests/{id}/preview
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^tests/\d+/preview$ tests_/preview_delete.php [L]

# POST-запросы для /users/me/favorites
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^users/me/favorites$ tests_/favorite_add.php [L]

# DELETE-запросы для /users/me/favorites/{id}
RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^users/me/favorites/\d+$ tests_/favorite_delete.php [L]

# POST-запросы для /users/password
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^users/password$ user/change_password.php [L]

